.venv/
venv/
env/

pycache/
*.pyc
.pytest_cache/
.ruff_cache/

data/raw/
models/
.dvc/cache
.dvc/tmp
Data_fraud_mlops.csv

mlruns/
mlflow.db

database.db
reports/figures
.ipynb_checkpoints/

.idea/
.vscode/

.DS_Store